<div class="sm:p-5 p-0 flex flex-col h-screen overflow-hidden bg-black">
  <div class="flex flex-col">
    <div class="flex mx-2 sm:mt-0 mb-0 sm:mb-4 mt-1.5">
      <img class="w-10 sm:w-25 mr-1.5" src="img/logo.png" />
      <p class="text-yellow-500 font-bold text-xl sm:text-2xl flex items-center pt-2 sm:pt-7">{{ title }}</p>
    </div>
    <div class="flex gap-2 px-2 pt-2">
      @for (m of menu; track m.name) {
        <button class="" [class]="menuActive() == m.name? 'rounded-md px-2 py-0.5 bg-yellow-600 border-white text-white':'text-white font-bold'">{{m.name}}</button>
      }
    </div>
  </div>
  <div class="overflow-y-auto bg-black sm:bg-transparent grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 md:gap-4 mt-2">
    @for (post of posts(); track post.imgSrc) {
    <div class="bg-black shadow-md pt-2 mt-2 h-auto flex flex-col md:mt-0 mb-0.5">
      <p class="pl-2 mt-2 text-white font-bold text-md">{{post.title}}</p>
      <div class="px-2 my-2 flex flex-1">
        <p class="text-gray-400 text-md leading-relaxed whitespace-pre-wrap">" {{ post.message }} "</p>
      </div>
      <img class="h:100 flex-none object-contain mt-2" [src]="post.imgSrc" alt="" />
    </div>
    }
  </div>
</div>